.cabecalho{
    background-color: var(--cor-do-cabecalho);
    padding: 1em;
    }
    .container{
    display: flex;
    align-items: center;
    }
    .container imagem, .container frase{
    padding: 1em;
    }
    .container titulo, .container frase{
    display:none;
    }





    /* ===== TABLET (820px ou mais) ===== */
@media screen and (min-width: 820px) {
    .container_titulo {
        display: block;  /* Mostra o título */
        font-size: 24px;
        margin-left: 10px;
        color: #b112e6;  /* Cor roxa do seu projeto */
    }
}






/* ===== DESKTOP (1024px ou mais) ===== */
@media screen and (min-width: 1024px) {
    .container_frase {
        display: block;  /* Mostra o slogan */
        font-size: 18px;
        margin-left: 20px;
        color: #333;  /* Cor do texto */
        font-style: italic;
    }
}