@import url(styles/header.css);
:root{
--cor-de-fundo: #74b30149;
--cor-cabecalho: #C6D385;
}
body{
background-color: var(--cor-de-fundo);
margin: 0;
}






/* CSS básico para garantir um layout responsivo e organizado */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.cabecalho {
    position: relative;
    text-align: center;
    padding: 50px;
    background-color: #C6D385;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.imagem {
    width: 150px;
    margin-bottom: 20px;
}

.titulo {
    font-size: 36px;
    color: #333333;
    margin-bottom: 10px;
}

.frase {
    font-size: 24px;
    color: #1f1b1b;
    position: absolute;
    top: 20px;
    right: 50px; /* Mover o slogan para a direita */
    text-align: right; /* Garantir que o texto fique à direita */
    font-style: italic;
}

/* Responsividade */
@media (max-width: 768px) {
    .titulo {
        font-size: 28px;
    }

    .frase {
        font-size: 18px;
        right: 20px; /* Ajuste para telas menores */
    }
}
